.game , .playbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbox {
    gap: 30px;
    flex-wrap: wrap;
}

.gamebox {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
}



.turn {
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
}

.box {
    border: 1px solid whitesmoke;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxbtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rstbtn {
    cursor: pointer;
}